<article ng-controller ="articleController">
    <div class="banner">
      <ul class="texts">
        <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
        <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
      </ul>
    </div>
    <div class="bloglist">
      <h2>
        <p><span>推荐</span>文章</p>
      </h2>
      <%
      for(var i = 0; i < statics.result.length; i++){
      %>
        <div class="blogs" >
            <h3><a ui-sref="detail({id: statics.result[i]._id})"><%=statics.result[i].title %></a></h3>
            <figure><img src="images/01.jpg" ></figure>
            <ul>
              <p><%=statics.result[i].abstract %></p>
              <a  href="/detail" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </ul>
            <p class="autor"><span>作者：
                
            <% if (statics.result[i].author) { %>
                <%=statics.result[i].author.name %>
            <%} %>
                
            
            </span><span>分类：【<a href="/">
                <% if (statics.result[i].category) { %>
                    <%=statics.result[i].category.name %>
                <%} %>
            
            </a>】</span><span>浏览（<a href="/"><%=statics.result[i].pv %></a>）</span><span>评论（<a href="/"><%=statics.result[i].pc %></a>）</span>
              <a ui-sref="edit({id: statics.result[i]._id})" class="ng-cloak" ng-if="user">编辑</a> <a ng-if="user" ng-click="article_delete(article)" href="javascript:void(0)" class="ng-cloak"  style="color: #f55f77;">删除</a></p>
            <div class="dateview" ng-if="statics.result[i].meta"><%=statics.result[i].meta.createAt %></div>
          </div>


      <%
          }
      %>

    </div>

    <% if (statics.total > 0) { %>
      <page  total="<%=statics.result[i].total %>" page-count="10" page-index="page" on-click-page="getList"></page>
    <%} %>

    
  </article>